body{
    background-color: rgb(192, 245, 192);
}

h1{
    text-align: center;
    color: rgb(73, 73, 73);
}
h2{
    text-align: center;
    color:rgb(73, 73, 73)
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.lomake{
    display: flex;
    justify-content: center;
}

ul{
    text-align: center;
    list-style-type: decimal;
}

li:hover{
    cursor: crosshair;
}